{# templates/registration/confirmation_email.html.twig #}
<h2>Welcome to our platform!</h2>
<p>Please click the link below to confirm your email address:</p>
<p><a href="{{ signedUrl }}">Confirm my email</a></p>